/* Login Screen CSS */

/* === importing CSS === */
@import url("global.css");
@import url("components.css");

/* === cardLogin === */

.cardLogin {
  width: 22rem;
  height: 18rem;
  padding: 2rem;
  flex-direction: column;
  border-radius: 1rem;
  background: var(--bg-card);

  position: relative;
}
.cardLogin::before {
  content: "";
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  left: 6.8rem;
  top: -3.6rem;
  background: var(--blue-400);
}
.cardLogin .fa-user {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--beige-color);
  border-radius: 50%;
  position: absolute;
  left: 34%;
  top: -3rem;
  background: var(--blue-200);
  transition: all 1s ease-in-out;

  font-size: 4rem;
  color: var(--beige-color);
}
.cardLogin .fa-user:hover {
  transform: rotateX(360deg);
}
/* === Message Error === */
#msgError {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  opacity: 0;
}

/* === form-group === */

.form-group {
  position: relative;
}
.form-group label {
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  pointer-events: none;
  color: var(--blue-200);
}
.form-group input {
  width: 100%;
  min-width: 18rem;
  margin: 1rem 0;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: var(--beige-color);

  font-size: 16px;
  color: var(--blue-200);
  transition: all 0.3s ease-out;
  border: 2px solid transparent;
}

.cardLogin p {
  color: var(--blue-200);
  font-size: 14px;
  text-align: center;
}
.cardLogin button {
  border: none;
  background: transparent;
  color: var(--beige-color);
  cursor: pointer;
  font-size: 14px;
}
label.active {
  top: -0.3rem;
}
.fa-eye {
  position: absolute;
  top: 1.6rem;
  right: 0.8rem;
  cursor: pointer;
  color: var(--blue-200);
}
