.signup {
  display: none;
}
.signup .container {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000 !important;
  background: rgba(0, 0, 0, 0.5);
}
.cardSignup {
  width: 25rem;
  height: 26rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  background: var(--beige-color);
}
.signup .btn button {
  padding: 0.6rem 8rem;
}
.header-card {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--blue-200);
  color: var(--blue-200);
}
.header-card span {
  width: 20px;
  height: 22px;
  border: 1px solid var(--blue-200);
  cursor: pointer;
}
.header-card span:hover {
  background: var(--blue-200);
  color: var(--beige-color);
}
.cardSignup #msgError,
#msgSuccess {
  display: none;
  text-align: center;
  color: var(--blue-200);
}
.cardSignup .form-group {
  margin: 0 1rem;
  position: relative;
}
.cardSignup .form-group input {
  display: inline-block;
  outline: none;
  background: var(--blue-200);
  color: var(--beige-color);
}
.cardSignup .form-group label {
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  pointer-events: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.cardSignup .form-group .fa-eye {
  color: var(--beige-color);
}
.cardSignup .form-group .fa-eye:hover {
  color: var(--blue-400);
}
.cardSignup label.active {
  top: -0.3rem;
  color: var(--blue-200);
}
/* #msgError {
  display: none;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
} */
#msgSuccess {
  display: none;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
}
